body {
font-family: 'Karla', sans-serif;
font-size: 15px;
margin: 0;
padding: 0;
}

img {
  max-width: 100%;
}

h1,h2,h3, .skills-list {
  font-family: 'Lora', serif;
}

h1 {
  font-size: 60px;
  line-height: 130%;
  margin: 40px;
}

h2 {
  font-size: 30px;
  line-height: 130%;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  margin-bottom: 40px;
}

p {
  line-height: 150%;
}

figcaption {
  font-size: 10px;
  margin-top: 10px;
  text-align: right;
}

ul {
  padding: 0px;
}

ul li {
  list-style: none;
  margin: 10px 0px;
}

.button {
  border: 1px solid black;
  text-decoration: none;
  color: #212529;
  padding: 10px 30px;
  display: inline-block;
  margin-top: 40px;
  border-radius: 20px;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.button:hover {
  background: #212529;
  color: white;
}

/* nav */
.navbar {
  background-color: #f8fbf6;
}

.dropdown-menu {
  background-color: #f8fbf6;
  border: none;
}

a.dropdown-item {
  color: rgba(0,0,0,.5);
  font-size: 15px;
  background-color: #f8fbf6;
}

a.dropdown-item:hover {
  text-decoration: underline;
  background-color: #f8fbf6;
}

.dropdown-item.active, .dropdown-item:active {
  color: rgba(0,0,0,.9);
  background-color: #dbd5cd;
}

/* header */
header {
  top: 70px;
  padding-bottom: 40px;
  background-image: url(../img/bgheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -145px;
}

header h1 {
  font-size: 80px;
  margin: 40px 16px 60px 0px;
}

header ul li {
  font-size: 20px;
}

.intro-img {
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}

/* home */
.skills-list {
  text-align: center;
  font-size: 44px;
  line-height: 150%;
  margin: 130px 0px;
}

.skills-list a {
  text-decoration: none;
  color: #212529;
}

.skills-list a:hover {
  color: #8f8350;
}

/* project */
.project {
  padding: 50px;
}

.green {
  background-color: #99be8f;
}

.project .button {
  margin-top: 10px;
}

/* footer */
footer {
  text-align: center;
  margin: 0px;
  padding: 100px 12vw;
}

footer h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

footer h3 {
  font-size: 28px;
  font-family: 'Karla', sans-serif;
  margin-bottom: 20px;
}

.social-icon {
  width: 40px;
  margin: 10px 0px 40px 0px;
}

/* Responsive */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: inline-block!important;
  }
  .navbar-nav {
    position: absolute;
    top: 0;
    right: 16px;
  }
  footer {
  background-image: url(../img/bgfooter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  }
}

@media (max-width: 767.98px) {
  header h1 {
    font-size: 60px;
    margin: 16px 0px 24px 0px;
  }
  header ul li {
    font-size: 18px;
  }
  .intro-img {
    margin: 16px 0px;
  }
  .skills-list {
    font-size: 32px;
  }
  .rightfirst {
    flex-direction: column-reverse;
  }
  footer h2 {
    font-size: 32px;
  }
  footer h3 {
    font-size: 24px;
  }
}

@media (max-width: 991.98px) {
  .project-even {
    flex-direction: column-reverse;
  }
}
